{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1 class="text-center mt-5 mb-4">Form</h1>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="function" class="form-label">Функція:</label>
        {{ form.func }}
        <p>Для позначення невідомих використовуйте "x[n]", де n-це порядковий номер змінної поченаючи з 0</p>
        <p>Для використання степеня введіть подвійний знак множення, також можна використовувати функції sin, cos, tan, а також число Pi та e</p>
        <p>Для введення координат, вводіть їх по черзі, розмежовуючи комою та пропуском тобто так:", "</p>
      </div>
      <div class="mb-3">
        <label for="x_start" class="form-label">Початкова координата x:</label>
        {{ form.x_start }}
      </div>
      <div class="mb-3">
        <label for="delta" class="form-label">delta:</label>
        {{ form.delta }}
      </div>
      <div class="mb-3">
        <label for="alpha" class="form-label">Alpha:</label>
        {{ form.alpha }}
      </div>
      <div class="mb-3">
        <label for="landa" class="form-label">Landa:</label>
        {{ form.landa }}
      </div>
      <div class="mb-3">
        <label for="exp" class="form-label">Похибка:</label>
        {{ form.exp }}
      </div>
      <div class="mb-3">
        <label for="dir" class="form-label">Напрямок оптимізації:</label>
        {{ form.dir }}
      </div>
      <button type="submit" class="btn btn-success">Обчислити</button>
    </form>
    <div class="mt-5">
        {% for i in acc %}
            <p>{{i}}</p>
        {%endfor%}
    </div>
  </div>
</body>
</html>